<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>게시글 추가</title>
</head>
<body>
<form action="" name="write-form">
    <input type="" name="boardTitle">
    <input type="" name="boardContent">
    <input type="" name="boardWriter">

    <input type="file" name="file" multiple>
<!--    <input type="file">-->
<!--    <input type="file">-->
<!--    <input type="file">-->
    <ul id="thumbnail"></ul>
</form>
</body>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>
    FileList.prototype.forEach = Array.prototype.forEach;
    globalThis.arrayFile = new Array();
    globalThis.i = 0;

    $("input[name='file']").on("change", function(){
        const $files = $("input[name=file]")[0].files;
        let formData = new FormData();

        Array.from($files).forEach(file => globalThis.arrayFile.push(file));

        console.log(globalThis.arrayFile);

        $files.forEach(file => {
            formData.append("file", file)
        });
        $.ajax({
            url: "/files/upload",
            type: "post",
            data: formData,
            contentType: false,
            processData: false,
            success: function(uuids) {
                globalThis.uuids = uuids;
                $files.forEach((file, i) => {
                    if(file.type.startsWith("image")){
                        $("#thumbnail").append(`<li><a href="/files/download?fileName=${toStringByFormatting(new Date())}/${uuids[i]}_${file.name}"><img src="/files/display?fileName=${toStringByFormatting(new Date())}/t_${uuids[i]}_${file.name}"></a></li>`);
                    }else{
                        $("#thumbnail").append(`<li><a href="/files/download?fileName=${toStringByFormatting(new Date())}/${uuids[i]}_${file.name}"><img src="/attach.png" width="100"></a></li>`);
                    }
                });
                /********************************************************************/
                /*게시글 추가 부분*/
                const dataTransfer = new DataTransfer();
                globalThis.arrayFile.forEach(file => dataTransfer.items.add(file));
                $("input[name='file']")[0].files = dataTransfer.files;
                console.log(dataTransfer.files);
                let text = "";
                $files.forEach(file => {
                    text +=
                    `
                    <input type="hidden" name="files[${i}].fileName" value="${file.name}">
                    <input type="hidden" name="files[${i}].fileUuid" value="${globalThis.uuids[i]}">
                    <input type="hidden" name="files[${i}].filePath" value="${toStringByFormatting(new Date())}">
                    <input type="hidden" name="files[${i}].fileSize" value="${file.size}">
                    <input type="hidden" name="files[${i}].fileType" value="${file.type.startsWith("image")}">
                    `
                    globalThis.i++;
                });
                globalThis.i = 0;
                $("form[name='write-form']").append(text);
            }
        });
    });



    /*****************************************************/
    function leftPad(value) {
        if (value >= 10) {
            return value;
        }

        return `0${value}`;
    }

    function toStringByFormatting(source, delimiter = '/') {
        const year = source.getFullYear();
        const month = leftPad(source.getMonth() + 1);
        const day = leftPad(source.getDate());

        return [year, month, day].join(delimiter);
    }
    /*****************************************************/
</script>
</html>